
<header><h1>Edit Account</h1></header>

<% if @errors %>
<% @errors.each do |error| %>
<%= error %><br/>
    <% end %>
<% end %> 

<%= form_for @user do |f| %>
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %> <br/>
    <%= f.label :password, "Password" %>
    <%= f.text_field :password %> <br/>
    <%= f.label :email, "E-Mail"%>
    <%= f.text_field :email %> <br/>
    <%= f.submit %> <br/>
<% end %>
