<h1> Welcome! <%= @user.username %> </h1>
<% if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize_to_fit: [300, 200])%>
    <%end%>
<h2> Favorite Podcasts: </h2>
    <% @favorite.each do |fave| %>
    <ul><li><%= link_to fave.title, podcast_path(@favorite)%></li></ul>
    <% end %>

    <h2>Recent Reviews: </h2>
        <% @reviewed.each do |r| %>
    <ul><li><%= link_to r.content, review_path(r) %></li></ul>
    <% end %>
<br/>
<p> <%= link_to "Edit Your Account", edit_user_path(@user) %> </p>

