<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="users.scss">
    <meta charset="UTF-8">
    <meta name="description" content="Podcast review website">
    <meta name="keywords" content="Podcasts, Reviews, Community">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earwig</title>
</head>
<body>
<header><h1> Edit Your Podcast Submission </h1></header>

<% if @errors %>
<% @errors.each do |error| %>
<%= error %><br/>
    <% end %>
<% end %>

<%= form_for @podcast do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %> <br/>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %> <br/>
    <%= f.label :length, "Length"%>
    <%= f.text_field :length %> <br/>
    <%= f.label :mood_id, "Mood" %>
    <%= f.collection_select :mood_id, @moods, :id, :feeling %> <br/>
    <%= f.submit %> <br/>
<% end %>
</body>
</html>