<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="users.scss">
    <meta charset="UTF-8">
    <meta name="description" content="Podcast review website">
    <meta name="keywords" content="Podcasts, Reviews, Community">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earwig</title>
</head>
<body>
<header><h1> <%= @podcast.title %> </h1></header>

<%if @podcast.image.attached? %>
<%= image_tag @podcast.image.variant(resize_to_fit: [300, 200])%><br/>
<%end%>

<p> Description: <%= @podcast.description %> </p>
<p> Length: <%= @podcast.length %> </p>
<p> Mood: <%= @s_moods %> </p>
<p> <%= link_to "Add to Favorites", %></p>
<p> <%= link_to "Edit Page", edit_podcast_path(@podcast) %> </p>
</body>
</html>