<h1> <%= @podcast.title %> </h1>

<%if @podcast.image.attached? %>
<%= image_tag @podcast.image.variant(resize_to_fit: [300, 200])%><br/>
<%end%>

<p> Description: <%= @podcast.description %> </p>
<p> Length: <%= @podcast.length %> </p>
<p> Mood: <%= @s_moods %> </p>
<p> <%= link_to "Edit Page", edit_podcast_path(@podcast) %> </p>