<h1> <%= @podcast.title %> </h1>

<%if @podcast.image.attached? %>
<%= image_tag @podcast.image.variant(resize_to_fit: [300, 200])%><br/>
<%end%>

<p> Description: <%= @podcast.description %> </p>
<p> Length: <%= @podcast.length %> </p>
<p> Mood: <%= @s_moods %> </p>
<% @read.each do |r|%>
<p><%= link_to r, review_path %></p>
<%end%>
<% @reviewer.each do |r|%>
<p><%= r %></p>
<%end%>

<% if @current_user %>
<%= link_to "Review this podcast", new_review_path(@review)%></p>
<%= button_to 'Favorite', {:controller => "favorites", 
                            :action => "create",
                            :favorite => {:user_id => @current_user.id, 
                            :podcast_id => @podcast.id}, 
                            :method => "post"} %>
<% end %>
<p> <%= link_to "Edit Page", edit_podcast_path(@podcast) %> </p>
