<h1> <%= @podcast.title %> </h1>
<p> Description: <%= @podcast.description %> </p>
<p> Length: <%= @podcast.length %> </p>
<p> Mood: <%= @s_moods %> </p>
<p> <%= link_to "Edit Page", edit_podcast_path(@podcast) %> </p>